*{ box-sizing: border-box;
 font-size: 12px; 
 color:black;}

html, body {
  height: 100%;
  width: 100%;
}

#btn_news {
  background: none;
  padding: 10px 20px;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
}


.btn {
  background-color: lightgrey;
  padding: 10px 20px;
  box-shadow: none;
  color: black;
  border-radius: 30px;
}

.btn_visite{
  margin:0px 10px 0px 10px;
}

.btn_billeterie{
  margin:0px 10px 0px 10px;
}

.btn_agenda{
  margin:0px 10px 0px 10px;
}

img{
  height: auto;
  width: 100px;
}

.logo{
  display: flex;
  backgroundcolor:: grey;
  padding-left: 30px; 
  align-items: center;
}

.middle-content img {
  height: auto;
  width: 100%;
  margin: O auto;
  display: block;

.middle-content{ 
  width: 100%;
}

h1 {
  font-family: arial;
  color: red;
  }
  

h2 {
  font-size: 15px;
}

 footer {
  border-top: 1px solid;
  margin-top: 200px;
}
